.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarRow__icon {
    color: #606060;
    font-size: large !important;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarRow:hover {
    background-color: rgb(158, 158, 158);
    color: white;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
    color: rgb(136, 223, 136);
}

.sidebarRow:hover > .sidebarRow__title {
    font-weight: bold;
}

.sidebarRow.selected {
    background-color: rgb(223, 223, 223);
    
}

.sidebarRow.selected:hover {
    color: black
}